<AnimatedOutlet @transition="fade" @duration="2000" @initialInsertion={{true}}>
  <div
    class="disable-ember-animated-hidden"
    style="background-color:rgb(240, 236, 17);width:100%;height:100%;"
  >
    <h1>
      Child 2
    </h1>
  </div>
</AnimatedOutlet>