<AnimatedOutlet @transition="fade" @duration="2000" @initialInsertion={{true}}>
  <div
    class="disable-ember-animated-hidden"
    style="background-color:rgb(235, 75, 12);width:100%;height:100%;"
  >
    <h1>
      Child 1
    </h1>
  </div>
</AnimatedOutlet>