<AnimatedOutlet @value={{hash model=this.model color=this.color}} as |outlet|>
  <div
    style={{html-safe (concat outlet.value.color "width:100vw;text-align: center;margin:auto;padding:100px 0 100px 0;")
    }}
  >
    ModelID:
    {{outlet.value.model.id}}
  </div>
</AnimatedOutlet>