<AnimatedOutlet @transition="fade" @duration="2000" @initialInsertion={{true}}>
  <div style="background-color:rgb(135, 255, 131);width:100%;height:100%;">
    <h1>
      Child 1
    </h1>
  </div>
</AnimatedOutlet>