<h1>
  Model Change Route
</h1>
<AnimatedRoute @model={{hash model=this.model color=this.color}} as |valueHash|>
  <div
    style={{html-safe
      (concat valueHash.model.color "width:100vw;text-align: center;margin:auto;padding:100px 0 100px 0;")
    }}
  >
    ModelID:
    {{valueHash.model.model.id}}
  </div>
</AnimatedRoute>