<h1>
  Nested Route B
</h1>
<AnimatedOutlet @key="parent">
  <div
    style="height:60vh;background-color:rgb(247, 192, 247);position:relative;"
  >
    <h1 style="margin:0;padding:0;">
      Parent B : Route Template
    </h1>
    {{outlet}}
  </div>
</AnimatedOutlet>